body {
    font-family: 'Roboto Mono', monospace;
}

.post-topic {
    margin: 0 4px;
}

.result-post__title a {
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    font-family: 'Roboto Mono', sans-serif;
    height: 100vh;
    width: 66vw;

    display: grid;
    align-content: space-evenly;
    justify-items: center;
    // grid-template-rows: 1fr 2fr 1fr;
}

