body {
    font-family: 'Roboto Mono', monospace;
}

.post-topic {
    margin: 0 4px;
}

.result-post__title a {
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.logo-main, .recent-posts {
    display: grid;
    justify-content: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;
$color-blue-one: #0079ff;
$color-light-blue: rgb(40, 238, 252);
$color-gray-three: #D8D8D8;

@import './mixins.scss';
@import './searchBar.scss';
@import './recentPosts.scss';
@import './post.scss';
@import './home.scss';
@import './results.scss';